#ap2zm{
	font-size: 1200%;
	color: #0492c2;
	font-weight: bold;
	letter-spacing: -15px;
	padding: 0px 0px;
	margin: 0px 0px 5% 0px;
	background: black;
}

body{
	margin: 0;
	font-family: Arial, sans-serif;
}

/* SET BACKGROUND FOR BUTTON AND MAIN*/
#main, .next-btn, #show_p{
	background: linear-gradient(to right,#D58EBF 30%, cyan 130%);
}
#main{
	min-height: 100vh;
	min-width: 100vw;
	font-size: 500px
	left: 0px;
	padding-left:265px;
	padding-top: 4vh;
	transition: 0.35s;
	background-size: cover;
	background-repeat: repeat-y;
	overflow: scroll;
}

#left_pane{
	position: fixed;
	height: 50%;
	width: 250px;
	position: fixed;
	word-wrap: break-word;
	top: 0px;
	left: 0px;
	background-color: #333;
	color: #fff;
	padding-top: 95px;
	transition: 0.3s;
	overflow-wrap: break-word;
}

button.choose{
	color: rgb(240,240,240);
	background-color: #333;
	border: none;
	font-size:60px;
	width: 250px;
}

.choice {
	color: blue;
	font-size: 70px;
	text-align: center;
	margin-top: 50px;
	text-shadow: 5px 4px black;
}


#hide_p{
	background: #333;
	color: white;
}

.pane_btn{
	position: fixed;
	left: 5px;
	top: 10px;
	width: 80px;
	height: 73px;
	font-size: 67px;
	padding-bottom: 85px;	
}

.next-btn{
	color: blue;
	width: 70%;
	height: 50px;
	font-size: 170%;
	margin: 0 auto;
	font-weight: bold;
	border-color: grey;
}
