* {
	font-size: 100%;
	width: 100%;
	height: auto;
	text-overflow: wrap;
	margin: 0vw;
	padding: 0vw;
}

#ap2zm{
	font-size: 1200%;
	color: #0492c2;
	font-weight: bold;
	letter-spacing: -10vw;
	padding: 0px 0px;
	margin: 0vw 0vw 2vw 0vw;
	background: black;
}

body{
	font-size: 2vw;
	margin: 0;
	font-family: Arial, sans-serif;
	width: 100vw;
	overflow-x: wrap;
}

/* SET BACKGROUND FOR BUTTON AND MAIN*/

#main{
	min-height: 100vh;
	left: 0%;
	padding-left:30vw;
	padding-top: 6vw;
	transition: 0.35s;
	background-size: cover;
	background-repeat: repeat-y;
	overflow-x: wrap;
	overflow-y: scroll;
	width: auto;
	font-size: 200%;
}

#hide_p{
	border-color: white;
}

#show_p{
	border-color: black;
}

#main, .next-btn, #show_p{
	background: linear-gradient(to right,#D58EBF 30%, cyan 130%);
}

#left_pane, #hide_p, button.choose{
	background: #333;
	background: black;
	color: rgb(240,240,240);
}


#left_pane{
	position: fixed;
	height: auto;
	width: 23vw;
	position: fixed;
	word-wrap: break-word;
	left: 0vw;
	padding-top: 17vw;
	transition: 0.3s;
	overflow-wrap: break-word;
	text-align: left;
	top: 6vw;
}


button.choose{
	border: none;
	font-size:5vw;
	width: 100%;
	word-wrap: break-word;
	word-wrap: break-word;
	padding:2.5vw 0vw;
	margin:0vw;
	text-align:left;
	
}

.choice {
	font-size: 270%;
	color: blue;
	text-align: center;
	text-shadow: 0.2vw 0.2vw black;
	margin-bottom: 5vw;
}

.pane_btn{
	position: fixed;
	left: 0.5vw;
	top: 7.5vw;
	width: 13vw;
	border-width: 0.2vw;
	box-sizing: border-box;
	padding-left:0vw;
	padding-right:0vw;
	padding-top: 0vw;
	border-radius: 0.8vw;
}

button.choose, #left_pane{
	border-radius: 0vw 0.8vw 0.8vw 0vw;
}

#left_pane hr{
	width: 22.3vw;
	border-width: 0.04vw;
}

.pane-btn-icon{
	position: relative;
	font-size: 13vw;
	top: -3vw;
}

.next-btn{
	color: blue;
	width: 70%;
	height: 6vw;
	margin: 0 auto;
	font-weight: bold;
	border-color: white;
}

.apiURL{
	width: 90%;
	border-width: 0.3vw;
	border-color: black;
}

.apiLabel{
	font-size:120%;
	color: black;
	font-weight: 500;
	display: block;
}
