#ap2zm{
        font-size: 1200%;
        color: #0492c2;
        font-weight: bold;
        letter-spacing: -15px;
        padding: 0px 0px;
        margin: 0px 0px 5% 0px;
}

body {
  padding: 20px;
  margin: 0;
  background: rgb(0,45,0); /* #291e5d;*/
  color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;  
}

.container {
  background: linear-gradient(to right, grey, cyan);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  font-size: 150%;
  font-weight: bold;
}


input[type="text"]{
  padding: 8px;
  border-radius: 4px;
  border: 4px solid lightgray;
  width: 80%;
  margin-bottom: 10px;
}


input[type="image"] {
  display: block;
  margin: 0 auto;
}
.circular-image {
  border-radius:20%;
}
#files-list{
	color: black;
	font-size: 100%;
	text-align: center;
}


#addmore {
	background-color: gold;
	color: black;
	font-size: 120%;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	text-align:center;
	border-radius: 5px;
	width: 17%;
	cursor: pointer;
	text-align:center;
}

#refresh{
	font-size: 150%;
	cursor: pointer;
	text-align: right;
	border-radius: 5px;
	height: 50px;
}

button[type="submit"], input[type="submit"]{
	background: rgb(150,255,10);
	color: black;
	font-weight: bold;
	font-size: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	width: 13%;
	text-align:center;
	cursor: pointer;
}

.file-cell {
	white-space: wrap;
	border: 0;
	margin: 0 auto;
	font-size:127%;
    text-align: left;
    word-wrap: break-word;
    vertical-align: top; 
}

.choice{
	font-size: 280%;
	margin: 0px;
	text-align: center;
}

.apiURL{
	border:0px;
	margin: 0px;
	padding: 0px;
	width:100%;
	height: 30px;
}

.urlInputParent{
	padding: 0px 0px;
	margin: 0px 0px;
	border: 0px;
}
